<% if post.present? %>
  <!-- 投稿済 -->
  <div class="card bg-base-100 shadow-sm">
    <figure>
      <%= image_tag(post.image.url, class:"w-full aspect-square object-cover") if post.image.present? %>
    </figure>
    <div class="card-body p-4">
      <h2 class="card-title text-sm"><%= post.prefecture.name %></h2>
      <%= link_to "詳細", post_path(post), class: "btn btn-xs btn-outline mt-2" %>
    </div>
  </div>
<% else %>
  <!-- 未投稿 -->
  <%= link_to new_post_path(prefecture_id: prefecture.id), class: "block w-full h-full" do %>
    <div class="card bg-gray-100 shadow-inner flex items-center justify-center h-48">
      <div class="text-center">
        <p class="font-bold"><%= prefecture.name %></p>
      </div>
    </div>
  <% end %>
<% end %>
