<div class="max-w-xl p-6 bg-white border border-gray-200 rounded-lg shadow-sm dark:bg-gray-800 dark:border-gray-700">
  <div class="px-6 py-4">
    <div class="font-bold text-xl text-center mb-2"><%= @post.prefecture.name %></div>

    <% if @post.image.present? %>
      <%= image_tag @post.image.url, class: "w-full rounded mb-4" %>
    <% end %>
    <div class="flex items-center justify-between">
      <div class="font-bold text-xl mb-2"><%= @post.title %></div>
      <% if user_signed_in? %>
        <% unless current_user.own?(@post) %>
          <%= render "posts/like_buttons", { post: @post } %>
        <% end %>
      <% end %>
    </div>

    <p class="text-gray-700 text-base mb-4"><%= @post.body %></p>
  </div>

  <div class="px-6 pt-4 pb-2">
    <% if @post.category.present? %>
      <span class="inline-block bg-gray-200 rounded-full px-3 py-1 text-sm font-semibold text-gray-700 mr-2 mb-2">
        <%= link_to @post.category.name, posts_path(category_id: @post.category.id) %>
      </span>
    <% end %>
  </div>

  <div class="px-6 pt-4 pb-2 flex space-x-2">
    <% if user_signed_in? %>
      <% if current_user.own?(@post) %>
        <%= link_to "編集", edit_post_path(@post), class: "btn btn-sm btn-primary" %>
        <%= link_to "削除", post_path(@post), data: { turbo_method: :delete, turbo_confirm: "本当に削除しますか?" }, class: "btn btn-sm btn-error text-white" %>
      <% end %>
    <% end %>
  </div>
</div>
